.text_box {
   text-align: center;
   
}

.text_box h1 {
   font-size: 62px;
}

.text_box p {
    margin: 10px 0 40px;
    font-size: 16px;
    color: white;
}

.hero_btn {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 25px;
    font-size: 13px;
    background: transparent;
    /* position: relative; */
    
}

.hero_btn:hover {
    border: 1px solid #3672f4;
    background: #3672f4;
    transition: 1s;
}